@model IEnumerable<Farma.Web.Data.Entities.Partner>

@{
    ViewBag.Title = "Partners";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i> Create New</a>
</p>

<table class="table">

<tr>
    <th>
        @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Website)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Logo)
    </th>
    <th>
       @Html.DisplayNameFor(model => model.NumberPharmacies)
    </th>
</tr>

<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Logo))
            {
                <img src="@Url.Content(item.Logo)" alt="Image" style="width:75px;height:75px;max-width: 100%; height: auto;" />
            }

        </td>
        <td>
           @Html.DisplayFor(model => item.NumberPharmacies)
        </td>
        <td>
              <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-edit"></i> Edit</a>
                               <a asp-action="Pharmacies" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-building"></i> Pharmacies</a>
                               <button data-id="@item.Id" 
                                       data-name="@item.Name"
                                       class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="fa fa-trash"></i> Delete</button>
        </td>
    </tr>
}
</tbody>
</table>

<!-- Delete Dialog -->
<div id="deleteDialog" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to delete this Partner?</p>
                
                <strong id="partner_name"></strong>
             <!--   <p>with: <strong id="num_cities"></strong></p> -->
                               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="btnYesDelete">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {

            // Delete item
            var item_to_delete;
            var partner_name;
       

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                partner_name = e.currentTarget.dataset.name;
               
                $('#partner_name').text(partner_name);

             /*   if (num_cities == 1)
                    $('#num_cities').text(num_cities + ' City');
                else
                    $('#num_cities').text(num_cities + ' Cities');
                    
              */
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Partner/Delete/' + item_to_delete;
            });



        });
    </script>
}