@model IEnumerable<Farma.Web.Data.Entities.Pharmacy>

@{
    ViewData["Title"] = "Index";
}



<script src="https://maps.googleapis.com/maps/api/js?"></script>  

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
                            
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    
       <input type="button" value="Click to Display Map" onclick="DisplayGoogleMap()" />  
        <div id="myDiv" style="width:100%;height:400px;"></div>  
          
        <script type="text/javascript">  
            function DisplayGoogleMap() {  
      
                //Set the Latitude and Longitude of the Map  
                var myAddress = new google.maps.LatLng(10.1989,  -64.6929 );  
      
                //Create Options or set different Characteristics of Google Map  
                var mapOptions = {  
                    center: myAddress,  
                    zoom: 40,  
                    minZoom: 15,  
                    mapTypeId: google.maps.MapTypeId.ROADMAP  
                };  
      
                //Display the Google map in the div control with the defined Options  
                var map = new google.maps.Map(document.getElementById("myDiv"), mapOptions);  
      
                //Set Marker on the Map  
                var marker = new google.maps.Marker({  
                    position: myAddress,  
                    animation: google.maps.Animation.BOUNCE,  
                });  
      
                marker.setMap(map);  
               }      
        </script>  
    </tbody>
</table>
